@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
body {
  background-color: #fff;
  font-size: 20px;
  color:black;
  font-family: 'Titillium-Web',sans-serif;
}

