.wrapper{
    position:relative;
    margin:0;
    padding:0;

}
.img_wrapper{
    width:100%;
    margin:0;
    padding:0;
}
.img_wrapper > img{
    width:100%;
    top:0;
    left:0;
}
.img_wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000 17.76%, rgba(0, 0, 0, 0.687449) 41.44%, rgba(196, 196, 196, 0) 100%);
}

.content_wrapper{
    position: absolute;
    top: 0;
    left:200;
    z-index:100;
    margin:0;
    padding:0;
}

/* style of film title */
.title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 45px;
    line-height: 17px;

    color: #FFFFFF;
    margin:100px 50px 50px;
    padding:0;
}
.overview{
    width: 560px;
    height: 100px;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
    margin-left:50px;
    padding:0;
}
.genres{
    width: 382px;
    height: 44px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #FF2E00;
    margin-left:50px;
    margin-top: -20px;
    padding:0;
}
.genre{
    display: flex;
    width: 382px;
    height: 44px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: white;
    margin-left:50px;
    margin-top: -50px;
    padding:0;
}
.buttons{
    margin-left: 50px;
    margin-top: 10px;
}
.buttons > button{

    width: 158px;
    height: 50px;
    left: 134px;
    top: 480px;

    /* background: #5436A9; */
    border-radius: 30px;
    border:none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
.buttons > button:hover{

    cursor: pointer;
}
.buttons > button:first-child{
    background: #5436A9;
    margin-right: 20px;
}
.buttons > button:last-child{
    background: #5C5C5C;
}
.actions{
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
    padding:0;
    width:200px;
    justify-content: space-between;
    align-items: center;
}
.vote{
    color: #FFC907;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.actions>p:last-child{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #959595;
}